.headerIcon{
    width: 7vw;
}

.headerText{
    font-size: 1vw !important;
}

.mainMessage{
    /*font-size: calc(max(28px, 3vw)) !important;*/
    text-transform: uppercase;
}

.checkitout{
    font-size: calc(max(1vw, 5px)) !important;
    color: aliceblue;    
}

.cube{
    scale: 0.4;
    border-radius: 50px;
}

.arrow{
    width: 1vw !important;
}

.intro--banner button .btn-background{
    position:absolute;
    top:0;
    left:23px;
    right:0;
    height:100%;
    background-color:#b13d3d;
    z-index:-1;
    -webkit-transition:left .2s ease-in-out;
    transition:left .2s ease-in-out
}

.intro--options{
    color: #b13d3d;
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack:justify;
    -webkit-justify-content:space-between;
    -ms-flex-pack:justify;
    justify-content:space-between;
    margin:0;
    padding:0;
    list-style:none
}
