/* COLORS */
:root {
    --background-color: #0c0c0c;
    --font-color: #fff;
    --main-color: #a43549;
    --font-shadow-color: #de2f5d;
}

/* DARKMODE COLORS */
@media (prefers-color-scheme: dark) {
    :root {
        --background-color: #0c0c0c;
        --font-color: #fff;
        --main-color: #a43549;
        --font-shadow-color: #de2f5d;
    }
}